* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



header {
     max-width: auto;
     max-height: 100px;
    text-align: center;
    display: block;
    margin: auto;
    padding: auto;
    background-color: #000080	;
    color: #D8BFD8	;
    padding: 20px;
    font-size: 15px;
    font-weight: bold;
    
}

.video-container {
    display: flex;
    min-height: 600px;
    background-color: #836FFF;
    

}

footer {
    background-color: #000;
    color: #D3D3D3;
    text-align: center;
    min-height: 80px;
    font-weight: bold;
    padding-top: 15px;

    
}




